{% extends "page.html" %}

{% set lang = h.lang() %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
      	<h1 class="page-heading">{{ _('About') }}</h1>
      	{% if lang == 'it' %}
      	  {% snippet 'home/about_text_it.html' %}
      	{% elif lang == 'de' %}
          {% snippet 'home/about_text_de.html' %}
        {% else %}
      	  {% snippet 'home/about_text_en.html' %}
      	{% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
