<p>

<a href="http://www.innovazione.provincia.tn.it/opendata"> Informazioni sul Progetto Open Data in Trentino  </a>
<a href="http://www.innovazione.provincia.tn.it/notizie/pagina636.html">Le linee guida provinciali per la valorizzazione del patrimonio informativo pubblico (2015)</a>
<a href="http://www.dati.gov.it/sites/default/files/LG2016_finale.pdf">Linee Guida Open Data Nazionali (2016) </a>
<a href="http://www.dati.gov.it/sites/default/files/DCAT-AP_IT_v10.pdf">Il profilo italiano dei metadati dei dataset opendata DCAT-AP_IT </a>
<a href="https://www.facebook.com/groups/todgroup/">Il gruppo Facebook della Community Trentina</a>
<a href="https://www.twitter.com/DatiTrentinoIt">L'account Twitter ufficiale del catalogo opendata del Trentino</a>

</p> 
<p>Per avere maggiori informazioni inviateci una richiesta tramite <a href="https://www.twitter.com/DatiTrentinoIt">Twitter</a> o via <a href="mailto:info@dati.trentino.it">email</a>.</p>


