
<section class="additional-info">
  <h3>{{ _('Field Description') }}</h3>
  <div style="word-wrap: break-word;">{{ h.render_markdown(pkg_dict.fields_description or _('N/D')) }}</div>

  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details">{{ _('N/D') }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Origin") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.link_to(pkg_dict.url , pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Origin") }}</th>
            <td class="dataset-details">{{ _('N/D') }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.contact %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Contact') }}</th>
            <td class="dataset-details">{{ h.mail_to(email_address=contact or pkg_dict.contact, name=contact or pkg_dict.contact) }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Contact') }}</th>
            <td class="dataset-details">{{ _('N/D') }}</td>
          </tr>
        {% endif %}

      {% endblock %}
    </tbody>
  </table>
</section>