{% extends "page.html" %}

{% set lang = h.lang() %}

{% block subtitle %}{{ _('Legal notes') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    {% link_for _('Legal notes'),
        controller='ckanext.datitrentinoit.plugin:DatiTrentinoController',
        action='legal_notes' %}
  </li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        <h1 class="page-heading">{{ _('Legal notes') }}</h1>
      	{% if lang == 'it' %}
      	  {% snippet 'pages/legal_notes_text_it.html' %}
      	 {% elif lang == 'de' %}
          {% snippet 'pages/legal_notes_text_de.html' %}
        {% else %}
      	  {% snippet 'pages/legal_notes_text_en.html' %}
      	{% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
